/*
xxs > 0 && <= 438
xs > 0 && <= 768
smx >=576 && < 768
sm >= 768 && < 992
md >= 992 && < 1200
lg >= 1200
*/

@media (max-width: 437px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-smx {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}


/* HIDDEN ABOVES */
@media (min-width: 438px) {
  .hidden-above-xxs{
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-above-xs{
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-above-smx{
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-above-sm{
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-above-md{
    display: none !important;
  }
}


/* HIDDEN BELOWS */
@media (max-width: 437px) {
  .hidden-below-xxs{
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-below-xs{
    display: none !important;
  }
}

@media (max-width: 575px) {
  .hidden-below-smx{
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-below-sm{
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-below-md{
    display: none !important;
  }
}

/* HIDDEN COMPARISONS */
@media (max-width: 438px) {
  .hidden-lt-xxs{
    display: none !important;
  }
}
@media (max-width: 439px) {
  .hidden-lte-xxs{
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-lt-xs{
    display: none !important;
  }
}
@media (max-width: 769px) {
  .hidden-lte-xs{
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hidden-lt-smx{
    display: none !important;
  }
}
@media (max-width: 577px) {
  .hidden-lte-smx{
    display: none !important;
  }
}

@media (max-width: 992px) {
  .hidden-lt-sm{
    display: none !important;
  }
}
@media (max-width: 993px) {
  .hidden-lte-sm{
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .hidden-lt-md{
    display: none !important;
  }
}
@media (max-width: 1201px) {
  .hidden-lte-md{
    display: none !important;
  }
}
