$bg-primary:#337ab7 !default;
$bg-success:#dff0d8 !default;
$bg-info:#d9edf7 !default;
$bg-warning:#fcf8e3 !default;
$bg-danger:#f2dede !default;
$bg-grey:#777 !default;
$bg-grey-2x:#999 !default;
$bg-grey-3x:#BBB !default;
$bg-grey-4x:#CCC !default;
$bg-stable:#f8f8f8 !default;
$bg-positive:#387ef5 !default;
$bg-calm:#11c1f3 !default;
$bg-balanced:#33cd5f !default;
$bg-energized:#ffc900 !default;
$bg-assertive:#ef473a !default;
$bg-royal:#886aea !default;
$bg-dark:#444444 !default;


.text-positive {color:#0c60ee}
.text-calm {color:#0a9dc7}
.text-balanced {color:#28a54c}
.text-energized {color:#e6b500}
.text-assertive {color:#e42112}
.text-royal {color:#6b46e5}
.text-dark {color:#111111}

.text-primary {color:#337ab7}
.text-success {color:#3c763d}
.text-info {color:#31708f}
.text-warning {color:#8a6d3b}
.text-danger {color:#a94442}

.text-grey-lg, .text-muted-lg {color:#333}
.text-grey-md, .text-muted-md {color:#555}
.text-grey, .text-muted {color:#777}
.text-grey-2x, .text-grey-sm, .text-muted-sm, .text-muted-2x {color:#999}
.text-grey-3x, .text-grey-xs, .text-muted-xs, .text-muted-3x {color:#BBB}
.text-grey-4x, .text-grey-xxs, .text-muted-xxs, .text-muted-4x {color:#CCC}

.text-green,.font-green {color: #060}
.text-orange,.font-orange {color: #C60}
.text-red,.font-red {color:#900}
.text-blue,.font-blue {color: #009}
.text-purple,.font-purple {color: #60C}
.text-black,.font-black {color: #000}
.text-white,.font-white {color: #FFF}

.bg-white,.bg-lite {background-color:white}
.bg-black {background-color:black}

.bg-primary {background-color:$bg-primary}
.bg-success {background-color:$bg-success}
.bg-info {background-color:$bg-info}
.bg-warning {background-color:$bg-warning}
.bg-danger {background-color:$bg-danger}
.bg-grey {background-color:$bg-grey}
.bg-grey-xs,.bg-grey-2x {background-color:$bg-grey-2x}
.bg-grey-xxs,.bg-grey-3x {background-color:$bg-grey-3x}
.bg-grey-4x {background-color:$bg-grey-4x}
.bg-stable {background-color:$bg-stable}
.bg-positive {background-color:$bg-positive}
.bg-calm {background-color:$bg-calm}
.bg-balanced {background-color:$bg-balanced}
.bg-energized {background-color:$bg-energized}
.bg-assertive {background-color:$bg-assertive}
.bg-royal {background-color:$bg-royal}
.bg-dark {background-color:$bg-dark}

.border-grey {border-color:#666}
.border-grey-xs, .border-grey-2x {border-color:#888}
.border-grey-xxs, .border-grey-3x {border-color:#AAA}
.border-grey-4x {border-color:#BBB}
.border-positive {border-color:#0c60ee}
.border-calm {border-color:#0a9dc7}
.border-balanced {border-color:#28a54c}
.border-energized {border-color:#e6b500}
.border-assertive {border-color:#e42112}
.border-royal {border-color:#6b46e5}
.border-dark {border-color:#111111}
.border-danger {border-color:#d43f3a}
.border-warning {border-color:#eea236}
.border-info {border-color:#46b8da}
.border-success {border-color:#4cae4c}
.border-primary {border-color:#2e6da4}

.border-1-0,.border-1-black {border-color:#000;border-width:1px;border-style:solid}
.border-1-f,.border-1-white {border-color:#FFF;border-width:1px;border-style:solid}
.border-stable {border-color:#e7e7e7}
.border-1-positive {border-color:#0c60ee}
.border-1-calm {border-color:#0a9dc7}
.border-1-balanced {border-color:#28a54c}
.border-1-energized {border-color:#e6b500}
.border-1-assertive {border-color:#e42112}
.border-1-royal {border-color:#6b46e5}
.border-1-dark {border-color:#111111}
.border-1-danger {border-color:#d43f3a}
.border-1-warning {border-color:#eea236}
.border-1-info {border-color:#46b8da}
.border-1-success {border-color:#4cae4c}
.border-1-primary {border-color:#2e6da4}


.hover-text-shadow-grey-blur:hover{
  text-shadow:0 0 4px #777
}
.hover-text-shadow-white-blur:hover{
  text-shadow:0 0 4px #FFF
}

.table-hover > tbody > tr:hover {background-color: #f5f5f5}
.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f1f1f1}
.hover-bg-primary:hover,
.table-striped-primary > tbody > tr:nth-of-type(odd),
.table-hover-primary > tbody > tr:hover {@extend .bg-primary}
.hover-bg-success:hover,
.table-striped-success > tbody > tr:nth-of-type(odd),
.table-hover-success > tbody > tr:hover {@extend .bg-success}
.hover-bg-info:hover,
.table-striped-info > tbody > tr:nth-of-type(odd),
.table-hover-info > tbody > tr:hover {@extend .bg-info}
.hover-bg-warning:hover,
.table-striped-warning > tbody > tr:nth-of-type(odd),
.table-hover-warning > tbody > tr:hover {@extend .bg-warning}
.hover-bg-danger:hover,
.table-striped-danger > tbody > tr:nth-of-type(odd),
.table-hover-danger > tbody > tr:hover {@extend .bg-danger}
.hover-bg-grey:hover,
.table-striped-grey > tbody > tr:nth-of-type(odd),
.table-hover-grey > tbody > tr:hover {@extend .bg-grey}
.hover-bg-grey-2x:hover,
.table-striped-grey-2x > tbody > tr:nth-of-type(odd),
.table-hover-grey-2x > tbody > tr:hover {@extend .bg-grey-2x}
.hover-bg-grey-3x:hover,
.table-striped-grey-3x > tbody > tr:nth-of-type(odd),
.table-hover-grey-3x > tbody > tr:hover {@extend .bg-grey-3x}
.hover-bg-grey-4x:hover,
.table-striped-grey-4x > tbody > tr:nth-of-type(odd),
.table-hover-grey-4x > tbody > tr:hover {@extend .bg-grey-4x}
.hover-bg-stable:hover,
.table-striped-stable > tbody > tr:nth-of-type(odd),
.table-hover-stable > tbody > tr:hover {@extend .bg-stable}
.hover-bg-positive:hover,
.table-striped-positive > tbody > tr:nth-of-type(odd),
.table-hover-positive > tbody > tr:hover {@extend .bg-positive}
.hover-bg-calm:hover,
.table-striped-calm > tbody > tr:nth-of-type(odd),
.table-hover-calm > tbody > tr:hover {@extend .bg-calm}
.hover-bg-balanced:hover,
.table-striped-balanced > tbody > tr:nth-of-type(odd),
.table-hover-balanced > tbody > tr:hover {@extend .bg-balanced}
.hover-bg-energized:hover,
.table-striped-energized > tbody > tr:nth-of-type(odd),
.table-hover-energized > tbody > tr:hover {@extend .bg-energized}
.hover-bg-assertive:hover,
.table-striped-assertive > tbody > tr:nth-of-type(odd),
.table-hover-assertive > tbody > tr:hover {@extend .bg-assertive}
.hover-bg-royal:hover,
.table-striped-royal > tbody > tr:nth-of-type(odd),
.table-hover-royal > tbody > tr:hover {@extend .bg-royal}
.hover-bg-dark:hover,
.table-striped-dark > tbody > tr:nth-of-type(odd),
.table-hover-dark > tbody > tr:hover {@extend .bg-dark}
