/* CONCEPT ONLY : NOT YET USED */

.animate-all{
  transition: all linear 0.3s;
}

.animate-max-width{
  transition: max-width linear 0.3s;
}
.animate-max-height{
  transition: max-height linear 0.3s;
}

.transition-1s, .transition-1000{
  transition-duration: 1s;
}
.transition-3s, .transition-3000{
  transition-duration: 3s;
}

.animate-width{
  transition: width linear 0.3s;
}
.animate-height{
  transition: height linear 0.3s;
}
.animte-size{
  @extend .animate-width;
  @extend .animate-height;
}

/* requires angular-animate */
.animate-fade{
  opacity:1;
}
