/** Do not attempt to reduce duplication in here. Many repeats are actual browser css override tricks (no use of extends without awareness of impact) */

.radius-0, .border-radius-0 {border-radius:0}
.radius-3, .border-radius-3 {border-radius:3px}
.radius-4, .border-radius-4 {border-radius:4px}
.radius-5, .border-radius-5 {border-radius:5px}
.radius-6, .border-radius-6 {border-radius:6px}
.radius-7, .border-radius-7 {border-radius:7px}
.radius-8, .border-radius-8 {border-radius:8px}
.radius-9, .border-radius-9 {border-radius:9px}
.radius-10, .border-radius-10 {border-radius:10px}
.radius-15, .border-radius-15 {border-radius:15px}
.radius-20, .border-radius-20 {border-radius:20px}
.radius-25, .border-radius-25 {border-radius:25px}
.radius-third, .border-radius-third {border-radius:33.3%}
.radius-quarter, .border-radius-quarter {border-radius:25%}
.radius-half, .border-radius-half {border-radius:50%}

.child-radius-0 > * {border-radius:0}
.child-radius-3 > * {border-radius:3px}
.child-radius-4 > * {border-radius:4px}
.child-radius-5 > * {border-radius:5px}
.child-radius-6 > * {border-radius:6px}
.child-radius-7 > * {border-radius:7px}
.child-radius-8 > * {border-radius:8px}
.child-radius-9 > * {border-radius:9px}
.child-radius-10 > * {border-radius:10px}
.child-radius-15 > * {border-radius:15px}
.child-radius-20 > * {border-radius:20px}
.child-radius-25 > * {border-radius:25px}
.child-radius-third > * {border-radius:33.3%}
.child-radius-quarter > * {border-radius:25%}
.child-radius-half > * {border-radius:50%}

.radius-left-0, .child-radius-left-0 > * {border-top-left-radius:0;border-bottom-left-radius:0}
.radius-left-3, .child-radius-left-3 > * {border-top-left-radius:3px;border-bottom-left-radius:3px}
.radius-left-4, .child-radius-left-4 > * {border-top-left-radius:4px;border-bottom-left-radius:4px}
.radius-left-5, .child-radius-left-5 > * {border-top-left-radius:5px;border-bottom-left-radius:5px}
.radius-left-6, .child-radius-left-6 > * {border-top-left-radius:6px;border-bottom-left-radius:6px}
.radius-left-7, .child-radius-left-7 > * {border-top-left-radius:7px;border-bottom-left-radius:7px}
.radius-left-8, .child-radius-left-8 > * {border-top-left-radius:8px;border-bottom-left-radius:8px}
.radius-left-9, .child-radius-left-9 > * {border-top-left-radius:9px;border-bottom-left-radius:9px}
.radius-left-10, .child-radius-left-10 > * {border-top-left-radius:10px;border-bottom-left-radius:10px}
.radius-left-15, .child-radius-left-15 > * {border-top-left-radius:15px;border-bottom-left-radius:15px}
.radius-left-20, .child-radius-left-20 > * {border-top-left-radius:20px;border-bottom-left-radius:20px}
.radius-left-25, .child-radius-left-25 > * {border-top-left-radius:25px;border-bottom-left-radius:25px}
.radius-left-third, .child-radius-left-third > * {border-top-left-radius:33.3%;border-bottom-left-radius:33.3%}
.radius-left-quarter, .child-radius-left-quarter > * {border-top-left-radius:25%;border-bottom-left-radius:25%}
.radius-left-half, .child-radius-left-half > * {border-top-left-radius:50%;border-bottom-left-radius:50%}

.radius-right-0, .child-radius-right-0 > * {border-top-right-radius:0;border-bottom-right-radius:0}
.radius-right-3, .child-radius-right-3 > * {border-top-right-radius:3px;border-bottom-right-radius:3px}
.radius-right-4, .child-radius-right-4 > * {border-top-right-radius:4px;border-bottom-right-radius:4px}
.radius-right-5, .child-radius-right-5 > * {border-top-right-radius:5px;border-bottom-right-radius:5px}
.radius-right-6, .child-radius-right-6 > * {border-top-right-radius:6px;border-bottom-right-radius:6px}
.radius-right-7, .child-radius-right-7 > * {border-top-right-radius:7px;border-bottom-right-radius:7px}
.radius-right-8, .child-radius-right-8 > * {border-top-right-radius:8px;border-bottom-right-radius:8px}
.radius-right-9, .child-radius-right-9 > * {border-top-right-radius:9px;border-bottom-right-radius:9px}
.radius-right-10, .child-radius-right-10 > * {border-top-right-radius:10px;border-bottom-right-radius:10px}
.radius-right-15, .child-radius-right-15 > * {border-top-right-radius:15px;border-bottom-right-radius:15px}
.radius-right-20, .child-radius-right-20 > * {border-top-right-radius:20px;border-bottom-right-radius:20px}
.radius-right-25, .child-radius-right-25 > * {border-top-right-radius:25px;border-bottom-right-radius:25px}
.radius-right-third, .child-radius-right-third > * {border-top-right-radius:33.3%;border-bottom-right-radius:33.3%}
.radius-right-quarter, .child-radius-right-quarter > * {border-top-right-radius:25%;border-bottom-right-radius:25%}
.radius-right-half, .child-radius-right-half > * {border-top-right-radius:50%;border-bottom-right-radius:50%}

.radius-top-0, .child-radius-top-0 > * {border-top-right-radius:0;border-top-left-radius:0}
.radius-top-3, .child-radius-top-3 > * {border-top-right-radius:3px;border-top-left-radius:3px}
.radius-top-4, .child-radius-top-4 > * {border-top-right-radius:4px;border-top-left-radius:4px}
.radius-top-5, .child-radius-top-5 > * {border-top-right-radius:5px;border-top-left-radius:5px}
.radius-top-6, .child-radius-top-6 > * {border-top-right-radius:6px;border-top-left-radius:6px}
.radius-top-7, .child-radius-top-7 > * {border-top-right-radius:7px;border-top-left-radius:7px}
.radius-top-8, .child-radius-top-8 > * {border-top-right-radius:8px;border-top-left-radius:8px}
.radius-top-9, .child-radius-top-9 > * {border-top-right-radius:9px;border-top-left-radius:9px}
.radius-top-10, .child-radius-top-10 > * {border-top-right-radius:10px;border-top-left-radius:10px}
.radius-top-15, .child-radius-top-15 > * {border-top-right-radius:15px;border-top-left-radius:15px}
.radius-top-20, .child-radius-top-20 > * {border-top-right-radius:20px;border-top-left-radius:20px}
.radius-top-25, .child-radius-top-25 > * {border-top-right-radius:25px;border-top-left-radius:25px}
.radius-top-third, .child-radius-top-third > * {border-top-right-radius:33.3%;border-top-left-radius:33.3%}
.radius-top-quarter, .child-radius-top-quarter > * {border-top-right-radius:25%;border-top-left-radius:25%}
.radius-top-half, .child-radius-top-half > * {border-top-right-radius:50%;border-top-left-radius:50%}

.radius-bottom-0, .child-radius-bottom-0 {border-bottom-right-radius:0;border-bottom-left-radius:0}
.radius-bottom-3, .child-radius-bottom-3 {border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.radius-bottom-4, .child-radius-bottom-4 {border-bottom-right-radius:4px;border-bottom-left-radius:4px}
.radius-bottom-5, .child-radius-bottom-5 {border-bottom-right-radius:5px;border-bottom-left-radius:5px}
.radius-bottom-6, .child-radius-bottom-6 {border-bottom-right-radius:6px;border-bottom-left-radius:6px}
.radius-bottom-7, .child-radius-bottom-7 {border-bottom-right-radius:7px;border-bottom-left-radius:7px}
.radius-bottom-8, .child-radius-bottom-8 {border-bottom-right-radius:8px;border-bottom-left-radius:8px}
.radius-bottom-9, .child-radius-bottom-9 {border-bottom-right-radius:9px;border-bottom-left-radius:9px}
.radius-bottom-10, .child-radius-bottom-10 {border-bottom-right-radius:10px;border-bottom-left-radius:10px}
.radius-bottom-15, .child-radius-bottom-15 {border-bottom-right-radius:15px;border-bottom-left-radius:15px}
.radius-bottom-20, .child-radius-bottom-20 {border-bottom-right-radius:20px;border-bottom-left-radius:20px}
.radius-bottom-25, .child-radius-bottom-25 {border-bottom-right-radius:25px;border-bottom-left-radius:25px}
.radius-bottom-third, .child-radius-bottom-third {border-bottom-right-radius:33.3%;border-bottom-left-radius:33.3%}
.radius-bottom-quarter, .child-radius-bottom-quarter {border-bottom-right-radius:25%;border-bottom-left-radius:25%}
.radius-bottom-half, .child-radius-bottom-half {border-bottom-right-radius:50%;border-bottom-left-radius:50%}

.border-spacing-0 {border-spacing:0}
.border-collapse {border-collapse:collapse}
.border-separate, .border-collapse-seperate {border-collapse:separate}

.border,.border-1 {border-width:1px;border-style:solid;}
.border-v, .border-v-1 {border-left-width:1px;border-right-width:1px;border-left-style:solid;border-right-style:solid;border:black;}
.border-h, .border-h-1 {border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-top, .border-top-1 {border-top-width:1px;border-top-style:solid;border:black;}
.border-right, .border-right-1 {border-right-width:1px;border-right-style:solid;border:black;}
.border-left, .border-left-1 {border-left-width:1px;border-left-style:solid;border:black;}
.border-bottom, .border-bottom-1 {border-bottom-width:1px;border-bottom-style:solid;border:black;}
.border-2 {border-width:2px;border-style:solid;}
.border-3 {border-width:3px;border-style:solid;}
.border-4 {border-width:4px;border-style:solid;}
.border-5 {border-width:5px;border-style:solid;}
.border-6 {border-width:6px;border-style:solid;}
.border-7 {border-width:7px;border-style:solid;}
.border-8 {border-width:8px;border-style:solid;}
.border-v-2 {border-left-width:2px;border-right-width:2px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-3 {border-left-width:3px;border-right-width:3px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-4 {border-left-width:4px;border-right-width:4px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-5 {border-left-width:5px;border-right-width:5px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-6 {border-left-width:6px;border-right-width:6px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-7 {border-left-width:7px;border-right-width:7px;border-left-style:solid;border-right-style:solid;border:black;}
.border-v-8 {border-left-width:8px;border-right-width:8px;border-left-style:solid;border-right-style:solid;border:black;}
.border-h-2 {border-top-width:2px;border-bottom-width:2px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-3 {border-top-width:3px;border-bottom-width:3px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-4 {border-top-width:4px;border-bottom-width:4px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-5 {border-top-width:5px;border-bottom-width:5px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-6 {border-top-width:6px;border-bottom-width:6px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-7 {border-top-width:7px;border-bottom-width:7px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-h-8 {border-top-width:8px;border-bottom-width:8px;border-top-style:solid;border-bottom-style:solid;border:black;}
.border-top-2 {border-top-width:2px;border-top-style:solid;border:black;}
.border-top-3 {border-top-width:3px;border-top-style:solid;border:black;}
.border-top-4 {border-top-width:4px;border-top-style:solid;border:black;}
.border-top-5 {border-top-width:5px;border-top-style:solid;border:black;}
.border-top-6 {border-top-width:6px;border-top-style:solid;border:black;}
.border-top-7 {border-top-width:7px;border-top-style:solid;border:black;}
.border-top-8 {border-top-width:8px;border-top-style:solid;border:black;}
.border-right-2 {border-right-width:2px;border-right-style:solid;border:black;}
.border-right-3 {border-right-width:3px;border-right-style:solid;border:black;}
.border-right-4 {border-right-width:4px;border-right-style:solid;border:black;}
.border-right-5 {border-right-width:5px;border-right-style:solid;border:black;}
.border-right-6 {border-right-width:6px;border-right-style:solid;border:black;}
.border-right-7 {border-right-width:7px;border-right-style:solid;border:black;}
.border-right-8 {border-right-width:8px;border-right-style:solid;border:black;}
.border-bottom-2 {border-bottom-width:2px;border-bottom-style:solid;border:black;}
.border-bottom-3 {border-bottom-width:3px;border-bottom-style:solid;border:black;}
.border-bottom-4 {border-bottom-width:4px;border-bottom-style:solid;border:black;}
.border-bottom-5 {border-bottom-width:5px;border-bottom-style:solid;border:black;}
.border-bottom-6 {border-bottom-width:6px;border-bottom-style:solid;border:black;}
.border-bottom-7 {border-bottom-width:7px;border-bottom-style:solid;border:black;}
.border-bottom-8 {border-bottom-width:8px;border-bottom-style:solid;border:black;}
.border-left-2 {border-left-width:2px;border-left-style:solid;border:black;}
.border-left-3 {border-left-width:3px;border-left-style:solid;border:black;}
.border-left-4 {border-left-width:4px;border-left-style:solid;border:black;}
.border-left-5 {border-left-width:5px;border-left-style:solid;border:black;}
.border-left-6 {border-left-width:6px;border-left-style:solid;border:black;}
.border-left-7 {border-left-width:7px;border-left-style:solid;border:black;}
.border-left-8 {border-left-width:8px;border-left-style:solid;border:black;}

.child-border > *, .child-border-1 > * {border-width:1px;border-style:solid;border:black;}
.child-border-top > *, .child-border-top-1 > * {border-top-width:1px;border-top-style:solid;border:black;}
.child-border-right > *, .child-border-right-1 > * {border-right-width:1px;border-right-style:solid;border:black;}
.child-border-left > *, .child-border-left-1 > * {border-left-width:1px;border-left-style:solid;border:black;}
.child-border-bottom, .child-border-bottom-1 > * {border-bottom-width:1px;border-bottom-style:solid;border:black;}
.child-border-2 > * {border-width:2px;border-style:solid;border:black;}
.child-border-3 > * {border-width:3px;border-style:solid;border:black;}
.child-border-4 > * {border-width:4px;border-style:solid;border:black;}
.child-border-5 > * {border-width:5px;border-style:solid;border:black;}
.child-border-6 > * {border-width:6px;border-style:solid;border:black;}
.child-border-7 > * {border-width:7px;border-style:solid;border:black;}
.child-border-8 > * {border-width:8px;border-style:solid;border:black;}
.child-border-top-2 > * {border-top-width:2px;border-top-style:solid;border:black;}
.child-border-top-3 > * {border-top-width:3px;border-top-style:solid;border:black;}
.child-border-top-4 > * {border-top-width:4px;border-top-style:solid;border:black;}
.child-border-top-5 > * {border-top-width:5px;border-top-style:solid;border:black;}
.child-border-top-6 > * {border-top-width:6px;border-top-style:solid;border:black;}
.child-border-top-7 > * {border-top-width:7px;border-top-style:solid;border:black;}
.child-border-top-8 > * {border-top-width:8px;border-top-style:solid;border:black;}
.child-border-right-2 > * {border-right-width:2px;border-right-style:solid;border:black;}
.child-border-right-3 > * {border-right-width:3px;border-right-style:solid;border:black;}
.child-border-right-4 > * {border-right-width:4px;border-right-style:solid;border:black;}
.child-border-right-5 > * {border-right-width:5px;border-right-style:solid;border:black;}
.child-border-right-6 > * {border-right-width:6px;border-right-style:solid;border:black;}
.child-border-right-7 > * {border-right-width:7px;border-right-style:solid;border:black;}
.child-border-right-8 > * {border-right-width:8px;border-right-style:solid;border:black;}
.child-border-bottom-2 > * {border-bottom-width:2px;border-bottom-style:solid;border:black;}
.child-border-bottom-3 > * {border-bottom-width:3px;border-bottom-style:solid;border:black;}
.child-border-bottom-4 > * {border-bottom-width:4px;border-bottom-style:solid;border:black;}
.child-border-bottom-5 > * {border-bottom-width:5px;border-bottom-style:solid;border:black;}
.child-border-bottom-6 > * {border-bottom-width:6px;border-bottom-style:solid;border:black;}
.child-border-bottom-7 > * {border-bottom-width:7px;border-bottom-style:solid;border:black;}
.child-border-bottom-8 > * {border-bottom-width:8px;border-bottom-style:solid;border:black;}
.child-border-left-2 > * {border-left-width:2px;border-left-style:solid;border:black;}
.child-border-left-3 > * {border-left-width:3px;border-left-style:solid;border:black;}
.child-border-left-4 > * {border-left-width:4px;border-left-style:solid;border:black;}
.child-border-left-5 > * {border-left-width:5px;border-left-style:solid;border:black;}
.child-border-left-6 > * {border-left-width:6px;border-left-style:solid;border:black;}
.child-border-left-7 > * {border-left-width:7px;border-left-style:solid;border:black;}
.child-border-left-8 > * {border-left-width:8px;border-left-style:solid;border:black;}

.border-1-positive,
.border-1-calm,
.border-1-balanced,
.border-1-energized,
.border-1-assertive,
.border-1-royal,
.border-1-dark,
.border-1-danger,
.border-1-warning,
.border-1-info,
.border-1-success,
.border-1-primary {border-width:1px;border-style:solid}

.border-solid {border-style:solid}
.border-dotted {border-style:dotted}
.border-dashed {border-style:dashed}

.border-v-solid {border-left-style:solid;border-right-style:solid}
.border-v-dotted {border-left-style:dotted;border-right-style:dotted}
.border-v-dashed {border-left-style:dashed;border-right-style:dashed}

.border-h-solid {border-top-style:solid;border-bottom-style:solid}
.border-h-dotted {border-top-style:dotted;border-bottom-style:dotted}
.border-h-dashed {border-top-style:dashed;border-bottom-style:dashed}

.border-top-solid {border-top-style:solid}
.border-top-dotted {border-top-style:dotted}
.border-top-dashed {border-top-style:dashed}

.border-right-solid {border-right-style:solid}
.border-right-dotted {border-right-style:dotted}
.border-right-dashed {border-right-style:dashed}

.border-bottom-solid {border-bottom-style:solid}
.border-bottom-dotted {border-bottom-style:dotted}
.border-bottom-dashed {border-bottom-style:dashed}

.border-left-solid {border-left-style:solid}
.border-left-dotted {border-left-style:dotted}
.border-left-dashed {border-left-style:dashed}

.child-border-0 > * {border:0}
.border-0 {border:0}
.border-top-0,.border-v-0 {border-top:0}
.border-right-0,.border-h-0 {border-right:0}
.border-left-0,.border-h-0 {border-left:0}
.border-bottom-0,.border-v-0 {border-bottom:0}

.child-lines > * {
  @extend .border-bottom;border-color:#DDD
}