$em-xxxs: 0.05em !default;
$em-xxs: 0.2em !default;
$em-xs: 0.4em !default;
$em-smx: 0.5em !default;
$em-sm: 0.6em !default;
$em: 0.8em !default;
$em-md: 1em !default;
$em-lg: 1.5em !default;
$em-4x: 2em !default;
$em-5x: 2.5em !default;
