.pad-h
  h4.margin-bottom-0 margin
  .pad-left.text-grey-2x.text-xs
    |Includes margin-left, margin-right, margin-h, and margin-v
  .inline-block.valign.border-1-energized
    .margin-0.border-1-info
      |.margin-0
  .inline-block.valign.border-1-energized
    .margin-1.border-1-info
      |.margin-1
  .inline-block.valign.border-1-energized
    .margin-xxs.border-1-info
      |.margin-xxs
  .inline-block.valign.border-1-energized
    .margin-xs.border-1-info
      |.margin-xs
  .inline-block.valign.border-1-energized
    .margin-sm.border-1-info
      |.margin-sm
  .inline-block.valign.border-1-energized
    .margin.border-1-info
      |.margin
  .inline-block.valign.border-1-energized
    .margin-2x.border-1-info
      |.margin-2x
  .inline-block.valign.border-1-energized
    .margin-3x.border-1-info
      |.margin-3x
  .inline-block.valign.border-1-energized
    .margin-4x.border-1-info
      |.margin-4x
