.pad-h
  h4.gap-bottom-0 gap
  .pad-left.text-grey-2x.text-xs
    |Includes column-gap and row-gap
  .flex-wrap.gap
    .border-1-info.pad
      strong .gap-0
      .flex1.flex-wrap.gap-0
        .pad-xxs.flex-1.border-1-balanced .gap-0
        .pad-xxs.flex-1.border-1-balanced .gap-0
        .pad-xxs.flex-1.border-1-balanced .gap-0
        .pad-xxs.flex-1.border-1-balanced .gap-0
    .border-1-info.pad
      strong .gap-1
      .flex1.flex-wrap.gap-1
        .pad-xxs.flex-1.border-1-balanced .gap-1
        .pad-xxs.flex-1.border-1-balanced .gap-1
        .pad-xxs.flex-1.border-1-balanced .gap-1
        .pad-xxs.flex-1.border-1-balanced .gap-1
    .border-1-info.pad
      strong .gap-xxs
      .flex1.flex-wrap.gap-xxs
        .pad-xxs.flex-1.border-1-balanced .gap-xxs
        .pad-xxs.flex-1.border-1-balanced .gap-xxs
        .pad-xxs.flex-1.border-1-balanced .gap-xxs
        .pad-xxs.flex-1.border-1-balanced .gap-xxs
    .border-1-info.pad
      strong .gap-xs
      .flex1.flex-wrap.gap-xs
        .pad-xxs.flex-1.border-1-balanced .gap-xs
        .pad-xxs.flex-1.border-1-balanced .gap-xs
        .pad-xxs.flex-1.border-1-balanced .gap-xs
        .pad-xxs.flex-1.border-1-balanced .gap-xs
    .border-1-info.pad
      strong .gap-sm
      .flex1.flex-wrap.gap-sm
        .pad-xxs.flex-1.border-1-balanced .gap-sm
        .pad-xxs.flex-1.border-1-balanced .gap-sm
        .pad-xxs.flex-1.border-1-balanced .gap-sm
        .pad-xxs.flex-1.border-1-balanced .gap-sm
    .border-1-info.pad
      strong .gap
      .flex1.flex-wrap.gap
        .pad-xxs.flex-1.border-1-balanced .gap
        .pad-xxs.flex-1.border-1-balanced .gap
        .pad-xxs.flex-1.border-1-balanced .gap
        .pad-xxs.flex-1.border-1-balanced .gap
    .border-1-info.pad
      strong .gap-2x
      .flex1.flex-wrap.gap-2x
        .pad-xxs.flex-1.border-1-balanced .gap-2x
        .pad-xxs.flex-1.border-1-balanced .gap-2x
        .pad-xxs.flex-1.border-1-balanced .gap-2x
        .pad-xxs.flex-1.border-1-balanced .gap-2x
    .border-1-info.pad
      strong .gap-3x
      .flex1.flex-wrap.gap-3x
        .pad-xxs.flex-1.border-1-balanced .gap-3x
        .pad-xxs.flex-1.border-1-balanced .gap-3x
        .pad-xxs.flex-1.border-1-balanced .gap-3x
        .pad-xxs.flex-1.border-1-balanced .gap-3x
    .border-1-info.pad
      strong .gap-4x
      .flex1.flex-wrap.gap-4x
        .pad-xxs.flex-1.border-1-balanced .gap-4x
        .pad-xxs.flex-1.border-1-balanced .gap-4x
        .pad-xxs.flex-1.border-1-balanced .gap-4x
        .pad-xxs.flex-1.border-1-balanced .gap-4x
