.flex-wrap.child-pad
  .form-group.has-error
    label.block .form-group.has-error
    div
      input(type="text" value="invalid value")

  .form-group.has-error
    div
      label.form-group-label .form-group.has-error.form-group-label
    div
      input(type="text" value="invalid value")

  .form-group.has-error
    label Some Invalid Radios
    div
      label
        input(type="radio")
        |test0
      |&nbsp;
      label
        input(type="radio")
        |test1
      |&nbsp;
      label
        input(type="radio")
        |test2
