doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")

    link(href="./ack-css-boot.css" rel="stylesheet" type="text/css")

  body.font-helvetica
    h3 ack-flex-boot
    .pad
      h4 Flex Evenly
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-1.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      
      h4 Flex Double
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-2
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-2
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1

      h4 Flex Triple
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-3
          .pad-xs.border-1-warning.bg-info
            .text-xs .flex-3
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1

      h4 Flex Quad
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-4.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-4
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1


      h4 Flex Five
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-5.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-5
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1

      h4 Flex Six
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
      .flex.flex-wrap
        .flex-6.bg-info
          .pad-xs.border-1-warning
            .text-xs .flex-6
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1
        .flex-1
          .pad-xs.border-1-warning
            .text-xs .flex-1

    h3 ack-text-boot
    .flex.flex-wrap
      .pad.text-5x .text-5x
      .pad.text-4x .text-4x
      .pad.text-3x .text-3x
      .pad.text-2x .text-2x
      .pad.text-lg .text-lg
      .pad.text-md .text-md
      .pad.text-sm .text-sm
      .pad.text-smx .text-smx
      .pad.text-xs .text-xs
      .pad.text-xxs .text-xxs

    h3 ack-block-boot
    .pad-h
      h4 border
      .flex.flex-wrap.align-top
        .margin.pad.border-1
          |.border-1
        .margin.pad.border-1-info
          |.border-1-info
        .margin.pad.border-2.border-success
          |.border-2.border-success
        .margin.pad.border-3.border-dashed.border-warning
          |.border-3.border-dashed.border-warning
        .margin.pad.border-4.border-dotted.border-danger
          |.border-4.border-dotted.border-danger
        .margin.pad.border-5
          |.border-5
      
    .pad-h
      h4 pad
      .inline-block.pad-xxs.border-1-info.valign
        |.pad-xxs
      .inline-block.pad-xs.border-1-info.valign
        |.pad-xs
      .inline-block.pad-sm.border-1-info.valign
        |.pad-sm
      .inline-block.pad.border-1-info.valign
        |.pad
      .inline-block.pad-md.border-1-info.valign
        |.pad-md
      .inline-block.pad-lg.border-1-info.valign
        |.pad-lg
    .pad-h
      h4 margin
      .inline-block.valign.border-1-energized
        .margin-xxs.border-1-info
          |.margin-xxs
      .inline-block.valign.border-1-energized
        .margin-xs.border-1-info
          |.margin-xs
      .inline-block.valign.border-1-energized
        .margin-sm.border-1-info
          |.margin-sm
      .inline-block.valign.border-1-energized
        .margin.border-1-info
          |.margin
      .inline-block.valign.border-1-energized
        .margin-md.border-1-info
          |.margin-md
      .inline-block.valign.border-1-energized
        .margin-lg.border-1-info
          |.margin-lg
    .pad-h
      h4 table-pad
      .flex.flex-wrap.align-top
        .pad-xs
          h5 table-pad-xxs
          table.table-pad-xxs
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
        .pad-xs
          h5 table-pad-xs
          table.table-pad-xs
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
        .pad-xs
          h5 table-pad-sm
          table.table-pad-sm
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
        .pad-xs
          h5 table-pad
          table.table-pad
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
        .pad-xs
          h5 table-pad-md
          table.table-pad-md
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
        .pad-xs
          h5 table-pad-lg
          table.table-pad-lg
            thead
              tr
                td.bg-info col1
                td.bg-info col2
                td.bg-info col3
            tbody
            tr
              td.bg-info.pad-0 .pad-0
              td.bg-info.pad-0 .pad-0
              td.bg-info.pad-0 .pad-0

    h3 ack-color-boot
    .flex.flex-wrap
      .flex-1.margin-xs.pad.bg-info.border-info.border-3.border-solid
        |.bg-info.border-info
      .flex-1.margin-xs.pad.bg-danger.border-danger.border-3.border-solid
        |.bg-danger.border-danger
      .flex-1.margin-xs.pad.bg-success.border-success.border-3.border-solid
        |.bg-success.border-success
      .flex-1.margin-xs.pad.bg-primary.border-primary.border-3.border-solid
        |.bg-primary.border-primary
      .flex-1.margin-xs.pad.bg-warning.border-warning.border-3.border-solid
        |.bg-warning.border-warning
      .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
        |.bg-assertive.border-assertive
      .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
        |.bg-balanced.border-balanced
      .flex-1.margin-xs.pad.bg-royal.border-royal.border-3.border-solid
        |.bg-royal.border-royal
      .flex-1.margin-xs.pad.bg-grey.border-grey.border-3.border-solid
        |.bg-grey.border-grey
      .flex-1.margin-xs.pad.bg-grey-xs.border-grey-xs.border-3.border-solid
        |.bg-grey-xs.border-grey-xs
      .flex-1.margin-xs.pad.bg-grey-xxs.border-grey-xxs.border-3.border-solid
        |.bg-grey-xxs.border-grey-xxs
      .flex-1.margin-xs.pad.bg-stable.border-stable.border-3.border-solid
        |.bg-stable.border-stable
      .flex-1.margin-xs.pad.bg-positive.border-positive.border-3.border-solid
        |.bg-positive.border-positive
      .flex-1.margin-xs.pad.bg-calm.border-calm.border-3.border-solid
        |.bg-calm.border-calm
      .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
        |.bg-balanced.border-balanced
      .flex-1.margin-xs.pad.bg-energized.border-energized.border-3.border-solid
        |.bg-energized.border-energized
      .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
        |.bg-assertive.border-assertive
      .flex-1.margin-xs.pad.bg-royal.border-royal.border-3.border-solid
        |.bg-royal.border-royal
      .flex-1.margin-xs.pad.bg-dark.border-dark.border-3.border-solid
        |.bg-dark.border-dark


    .flex.flex-wrap
      .flex-1.margin-xs.pad.text-primary
        |.text-primary
      .flex-1.margin-xs.pad.text-success
        |.text-success
      .flex-1.margin-xs.pad.text-info
        |.text-info
      .flex-1.margin-xs.pad.text-warning
        |.text-warning
      .flex-1.margin-xs.pad.text-danger
        |.text-danger
      .flex-1.margin-xs.pad.text-muted-lg
        |.text-muted-lg
      .flex-1.margin-xs.pad.text-muted-md
        |.text-muted-md
      .flex-1.margin-xs.pad.text-muted
        |.text-muted
      .flex-1.margin-xs.pad.text-muted-sm.text-muted-2x
        |.text-muted-sm, .text-muted-2x
      .flex-1.margin-xs.pad.text-muted-xs.text-muted-3x
        |.text-muted-xs, .text-muted-3x
      .flex-1.margin-xs.pad.text-green.font-green
        |.text-green,.font-green
      .flex-1.margin-xs.pad.text-orange.font-orange
        |.text-orange,.font-orange
      .flex-1.margin-xs.pad.text-red.font-red
        |.text-red,.font-red
      .flex-1.margin-xs.pad.text-blue.font-blue
        |.text-blue,.font-blue
      .flex-1.margin-xs.pad.text-purple.font-purple
        |.text-purple,.font-purple
      .flex-1.margin-xs.pad.text-black.font-black
        |.text-black,.font-black
      .flex-1.margin-xs.pad.text-white.font-white
        |.text-white,.font-white