-sizes = [[1,'Flex Evenly'],['1-5','Flex More'],[2,'Flex Double'],[3,'Flex Triple'],[4,'Flex Quad'],[5,'Flex Five'],[6,'Flex Six']];

-colorArray = ["primary","success","info","warning","danger"];//bootstrap colors
-colorArray.push("stable","positive","calm","balanced","energized","assertive","royal","dark");//ionic colors
-colorArray.push("grey","grey-2x","grey-3x","grey-4x","grey-5x","grey-6x");//shades of grey
-colorArray.push("white","black","red","blue","green");//primary colors

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(href="./ack-css-boot.css" rel="stylesheet" type="text/css")

  body.font-helvetica.text-center
    .inline-block.max-width-900.text-left
      h1 ack-css-boot
      .border.opacity-10
      p A base set of short-hand css helper classes. Includes available classes that are commonly used for styling buttons, form inputs, and such.
      br
      br
      h3 Table of Contents
      .flex-wrap
        .pad-sm
          a(href="#ack-flex-boot") ack-flex-boot
        .pad-sm
          a(href="#ack-gap-boot") ack-gap-boot
        .pad-sm
          a(href="#ack-text-boot") ack-text-boot
        .pad-sm
          a(href="#ack-block-boot") ack-block-boot
        .pad-sm
          a(href="#ack-width-height") ack-width-height
        .pad-sm
          a(href="#ack-color-boot") ack-color-boot
        .pad-sm
          a(href="#ack-responsive-boot") ack-responsive-boot
        .pad-sm
          a(href="#ack-form-boot") ack-form-boot
        .pad-sm
          a(href="#ack-background-boot") ack-background-boot
        .pad-sm
          a(href="#Additional Classes") Additional Classes
      br
      h2(id="ack-flex-boot") ack-flex-boot
      include ./ack-flex-boot.pug

      h2(id="ack-gap-boot") ack-gap-boot
      include ./ack-gap-boot.pug

      h2(id="ack-text-boot") ack-text-boot
      include ./ack-text-boot.pug

      h2(id="ack-block-boot") ack-block-boot
      include ./ack-block-boot.pug

      h2(id="ack-width-height") ack-width-height
      include ./ack-width-height.pug

      h2(id="ack-color-boot") ack-color-boot
      include ./ack-color-boot.pug

    .text-left
      h2(id="ack-responsive-boot") ack-responsive-boot
      include ./ack-responsive-boot.pug

    .text-left
      h2(id="ack-form-boot") ack-form-boot
      include ./ack-form-boot.pug

    .text-left
      h2.margin-bottom-0(id="ack-background-boot") ack-background-boot
      p.text-grey-2x.text-sm
        |List of classes, not always an example of class demonstratable

      .flex.child-margin-xs.child-pad-xs
        .border.border-grey-3x .bg-size-cover
        .border.border-grey-3x .bg-size-contain
        .border.border-grey-3x .bg-no-repeat
        .border.border-grey-3x .bg-repeat-x
        .border.border-grey-3x .bg-repeat-y
        .border.border-grey-3x .bg-center
        .border.border-grey-3x .bg-left
        .border.border-grey-3x .bg-right
        .border.border-grey-3x .bg-top
        .border.border-grey-3x .bg-bottom

    .text-left
      h2.margin-bottom-0(id="Additional Classes") Additional Classes
      p.text-grey-2x.text-sm
        |List of classes, not always an example of class demonstratable

      .flex.child-margin-xs.child-pad-xs
        .border.border-grey-3x .touch-scroll
        .border.border-grey-3x .overflow
        .border.border-grey-3x .overflow-x
        .border.border-grey-3x .overflow-y
        .border.border-grey-3x .overflow-hidden
        .border.border-grey-3x .overflow-x-hidden
        .border.border-grey-3x .overflow-y-hidden

      .bg-grey.margin-bottom.pad
        |NOTE: .overflow, .overflow-x, .overflow-y enable smooth scrolling for iOS Safari by adding -webkit-overflow-scrolling: touch aka the .touch-scroll class

      .flex
        .flex-1
          h3 .no-scroll-bars
          .pad.font-fixed-width
            .p.text-grey-2x.text-xs The bottom overflowing content, has no scroll bars
            .width-100.height-100.overflow.no-scroll-bars
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | |*|*|*|*|*|*|*|*|*|*|*=========================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
              | ===============================================
            .p.text-grey-2x.text-xs A class .no-scroll-bars-ever exists to force all children overflows to have no scroll bars

        .flex-1
          h3 .code-sample
          pre.code-sample
            |&lt;pre class="code-sample"&gt;
            |  Here is some of my sample code that won't wrap it's lines.
            |  &lt;br /&gt;
            |  Unless a line-break appears as part of the code.
            |&lt;/pre&gt;