doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")

    link(href="./ack-css-boot.css" rel="stylesheet" type="text/css")

  body.font-helvetica
    h3 ack-block-boot
    .pad-h
      h4 table-pad
        table.table-pad
          thead
            tr
              td col1
              td col2
              td col3

    h3 ack-color-boot
    .flex.flex-wrap
      .flex-1.margin-xs.pad.bg-info.border-info.border-3.border-solid
        |.bg-info.border-info
      .flex-1.margin-xs.pad.bg-danger.border-danger.border-3.border-solid
        |.bg-danger.border-danger
      .flex-1.margin-xs.pad.bg-success.border-success.border-3.border-solid
        |.bg-success.border-success
      .flex-1.margin-xs.pad.bg-primary.border-primary.border-3.border-solid
        |.bg-primary.border-primary
      .flex-1.margin-xs.pad.bg-warning.border-warning.border-3.border-solid
        |.bg-warning.border-warning
      .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
        |.bg-assertive.border-assertive
      .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
        |.bg-balanced.border-balanced
      .flex-1.margin-xs.pad.bg-royal.border-royal.border-3.border-solid
        |.bg-royal.border-royal
      .flex-1.margin-xs.pad.bg-grey.border-grey.border-3.border-solid
        |.bg-grey.border-grey
      .flex-1.margin-xs.pad.bg-grey-xs.border-grey-xs.border-3.border-solid
        |.bg-grey-xs.border-grey-xs
      .flex-1.margin-xs.pad.bg-grey-xxs.border-grey-xxs.border-3.border-solid
        |.bg-grey-xxs.border-grey-xxs
      .flex-1.margin-xs.pad.bg-stable.border-stable.border-3.border-solid
        |.bg-stable.border-stable
      .flex-1.margin-xs.pad.bg-positive.border-positive.border-3.border-solid
        |.bg-positive.border-positive
      .flex-1.margin-xs.pad.bg-calm.border-calm.border-3.border-solid
        |.bg-calm.border-calm
      .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
        |.bg-balanced.border-balanced
      .flex-1.margin-xs.pad.bg-energized.border-energized.border-3.border-solid
        |.bg-energized.border-energized
      .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
        |.bg-assertive.border-assertive
      .flex-1.margin-xs.pad.bg-royal.border-royal.border-3.border-solid
        |.bg-royal.border-royal
      .flex-1.margin-xs.pad.bg-dark.border-dark.border-3.border-solid
        |.bg-dark.border-dark


    .flex.flex-wrap
      .flex-1.margin-xs.pad.text-primary
        |.text-primary
      .flex-1.margin-xs.pad.text-success
        |.text-success
      .flex-1.margin-xs.pad.text-info
        |.text-info
      .flex-1.margin-xs.pad.text-warning
        |.text-warning
      .flex-1.margin-xs.pad.text-danger
        |.text-danger
      .flex-1.margin-xs.pad.text-muted-lg
        |.text-muted-lg
      .flex-1.margin-xs.pad.text-muted-md
        |.text-muted-md
      .flex-1.margin-xs.pad.text-muted
        |.text-muted
      .flex-1.margin-xs.pad.text-muted-sm.text-muted-2x
        |.text-muted-sm, .text-muted-2x
      .flex-1.margin-xs.pad.text-muted-xs.text-muted-3x
        |.text-muted-xs, .text-muted-3x
      .flex-1.margin-xs.pad.text-green.font-green
        |.text-green,.font-green
      .flex-1.margin-xs.pad.text-orange.font-orange
        |.text-orange,.font-orange
      .flex-1.margin-xs.pad.text-red.font-red
        |.text-red,.font-red
      .flex-1.margin-xs.pad.text-blue.font-blue
        |.text-blue,.font-blue
      .flex-1.margin-xs.pad.text-purple.font-purple
        |.text-purple,.font-purple
      .flex-1.margin-xs.pad.text-black.font-black
        |.text-black,.font-black
      .flex-1.margin-xs.pad.text-white.font-white
        |.text-white,.font-white