doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")

    link(href="./ack-css-boot.css" rel="stylesheet" type="text/css")

  body.font-helvetica.text-center
    .inline-block.max-width-900.text-left
      h1 ack-css-boot
      .border.opacity-10
      p A base set of short-hand css helper classes. Includes available classes that are commonly used for styling buttons, form inputs, and such.
      br
      br
      h3 Table of Contents
      .flex.flex-wrap
        .pad-sm
          a(href="#ack-flex-boot") ack-flex-boot
        .pad-sm
          a(href="#ack-text-boot") ack-text-boot
        .pad-sm
          a(href="#ack-block-boot") ack-block-boot
        .pad-sm
          a(href="#ack-color-boot") ack-color-boot
        .pad-sm
          a(href="#ack-responsive-boot") ack-responsive-boot
      h2(id="ack-flex-boot") ack-flex-boot
      .pad
        h4 .flex-center
        .flex.flex-center
          .pad.bg-info.margin-xs Acker
          .pad.bg-info.margin-xs Dawn
          .pad.bg-info.margin-xs Apple
        h4 .flex-left
        .flex.flex-left
          .pad.bg-info.margin-xs Acker
          .pad.bg-info.margin-xs Dawn
          .pad.bg-info.margin-xs Apple
        h4 .flex-right
        .flex.flex-right
          .pad.bg-info.margin-xs Acker
          .pad.bg-info.margin-xs Dawn
          .pad.bg-info.margin-xs Apple
        h4 .flex-evenly
        .flex.flex-evenly
          .pad.bg-info.margin-xs Acker
          .pad.bg-info.margin-xs Dawn
          .pad.bg-info.margin-xs Apple
        h4 .flex-apart
        .flex.flex-apart
          .pad.bg-info.margin-xs Acker
          .pad.bg-info.margin-xs Dawn
          .pad.bg-info.margin-xs Apple
        .flex.flex-wrap.flex-evenly
          .pad-sm
            h4 .flex-valign
            .border-1-info
              .flex.flex-valign
                .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-sm
            h4 .flex-valign-center
            .border-1-info
              .flex.flex-valign-center
                .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-sm
            h4 .flex-valign-bottom
            .border-1-info
              .flex.align-bottom
                .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-sm
            h4 .flex-fill
            .border-1-info
              .flex.flex-fill
                .pad.bg-info.margin-xs #[.pad-xs Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs Apple]
          .pad-sm
            h4 .align-baseline
            .border-1-info
              .flex.align-baseline
                .pad.bg-info.margin-xs #[.pad-xs.underline Acker]#[.pad-xs Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs.underline Dawn]#[.pad-xs Apple]
                .pad.bg-info.margin-xs #[.pad-xs.underline Apple]


        h3 Flex Inner Classes

        h4 .flex-1 Flex Evenly
        .flex.flex-wrap(style="align-items:stretch")
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-1.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        
        h4 .flex-2 Flex Double
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-2.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-2
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1

        h4 .flex-3 Flex Triple
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-3.border-1-warning
            .pad-xs.bg-info
              .text-xs .flex-3
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1

        h4 .flex-4 Flex Quad
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-4.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-4
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1


        h4 .flex-5 Flex Five
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-5.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-5
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1

        h4 .flex-6 Flex Six
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
              br
              br
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
        .flex.flex-wrap
          .flex-6.bg-info.border-1-warning
            .pad-xs
              .text-xs .flex-6
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1
          .flex-1.border-1-warning
            .pad-xs
              .text-xs .flex-1

      h2(id="ack-text-boot") ack-text-boot
      .flex.flex-wrap        
        .text-md.pad.font-arial
          |.font-arial
        .text-md.pad.font-times
          |.font-times
        .text-md.pad.font-helvetica
          |.font-helvetica
        .pad.text-5x .text-5x
        .pad.text-4x .text-4x
        .pad.text-3x .text-3x
        .pad.text-2x .text-2x
        .pad.text-lg .text-lg
        .pad.text-md .text-md
        .pad.text-sm .text-sm
        .pad.text-smx .text-smx
        .pad.text-xs .text-xs
        .pad.text-xxs .text-xxs
        .pad.text-underline .text-underline, .underline
        .pad.strong .strong, .bold, .text-bold
        .pad.line-height-0 .line-height-0
        .pad.line-height-half .line-height-half
        .pad.line-height-third .line-height-third
        .pad.line-height-quarter .line-height-quarter
        .pad.line-height-2x .line-height-2x
        .pad.line-height-3x .line-height-3x


      .flex
        .flex-1.text-md.pad.hover-text-shadow-white-blur.bg-grey.text-white.text-center
          |.hover-text-shadow-white-blur
          .text-xs (hover with mouse)
        .flex-1.text-md.pad.hover-text-shadow-grey-blur.text-center
          |.hover-text-shadow-grey-blur
          .text-muted.text-xs (hover with mouse)

      h2(id="ack-block-boot") ack-block-boot

      .pad-h
        h4 opacity
      .flex.flex-wrap
        .flex-1.text-white.pad.margin.bg-black.opacity-90 .opacity-90
        .flex-1.text-white.pad.margin.bg-black.opacity-80 .opacity-80
        .flex-1.text-white.pad.margin.bg-black.opacity-75 .opacity-75
        .flex-1.text-white.pad.margin.bg-black.opacity-70 .opacity-70
        .flex-1.text-white.pad.margin.bg-black.opacity-60 .opacity-60
        .flex-1.text-white.pad.margin.bg-black.opacity-50 .opacity-50, .opacity-half
        .flex-1.text-white.pad.margin.bg-black.opacity-40 .opacity-40
        .flex-1.text-white.pad.margin.bg-black.opacity-30 .opacity-30
        .flex-1.text-white.pad.margin.bg-black.opacity-25 .opacity-25, .opacity-third
        .flex-1.text-white.pad.margin.bg-black.opacity-20 .opacity-20
        .flex-1.text-white.pad.margin.bg-black.opacity-10 .opacity-10


      .pad-h
        h4 border
        .flex.flex-wrap.align-top
          .margin.pad.border
            |.border
          .margin.pad.border-1-info
            |.border-1
          .margin.pad.border-2.border-success
            |.border-2
          .margin.pad.border-3.border-dashed
            |.border-3.border-dashed
          .margin.pad.border-4.border-dotted
            |.border-4.border-dotted
          .margin.pad.border-5
            |.border-5
          .margin.pad.border-1.border-top-0
            |.border-top-0
          .margin.pad.border-1.border-left-0
            |.border-left-0
          .margin.pad.border-1.border-bottom-0
            |.border-bottom-0
          .margin.pad.border-1.border-right-0
            |.border-right-0

          .border-1.margin.pad.bg-info.border-radius-0 .border-radius-0
          .border-1.margin.pad.bg-info.border-radius-3 .border-radius-3
          .border-1.margin.pad.bg-info.border-radius-4 .border-radius-4
          .border-1.margin.pad.bg-info.border-radius-5 .border-radius-5
          .border-1.margin.pad.bg-info.border-radius-6 .border-radius-6
          .border-1.margin.pad.bg-info.border-radius-7 .border-radius-7
          .border-1.margin.pad.bg-info.border-radius-8 .border-radius-8
          .border-1.margin.pad.bg-info.border-radius-9 .border-radius-9
          .border-1.margin.pad.bg-info.border-radius-10 .border-radius-10
          .border-1.margin.pad.bg-info.border-radius-15 .border-radius-15
          .border-1.margin.pad.bg-info.border-radius-20 .border-radius-20
          .border-1.margin.pad.bg-info.border-radius-25 .border-radius-25
          .border-1.margin.pad.bg-info.border-radius-half .border-radius-half

        
      .pad-h
        h4 pad
        .inline-block.pad-xxs.border-1-info.valign
          |.pad-xxs
        .inline-block.pad-xs.border-1-info.valign
          |.pad-xs
        .inline-block.pad-sm.border-1-info.valign
          |.pad-sm
        .inline-block.pad.border-1-info.valign
          |.pad
        .inline-block.pad-md.border-1-info.valign
          |.pad-md
        .inline-block.pad-lg.border-1-info.valign
          |.pad-lg
      .pad-h
        h4 margin
        .inline-block.valign.border-1-energized
          .margin-xxs.border-1-info
            |.margin-xxs
        .inline-block.valign.border-1-energized
          .margin-xs.border-1-info
            |.margin-xs
        .inline-block.valign.border-1-energized
          .margin-sm.border-1-info
            |.margin-sm
        .inline-block.valign.border-1-energized
          .margin.border-1-info
            |.margin
        .inline-block.valign.border-1-energized
          .margin-md.border-1-info
            |.margin-md
        .inline-block.valign.border-1-energized
          .margin-lg.border-1-info
            |.margin-lg
      .pad-h
        h4 table-pad
        .flex.flex-wrap.align-top
          .pad-xs
            h5 table-pad-xxs
            table.table-pad-xxs
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-xs
            table.table-pad-xs
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-sm
            table.table-pad-sm
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad
            table.table-pad
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-md
            table.table-pad-md
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
                tr
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
                  td.bg-info.pad-0 .pad-0
          .pad-xs
            h5 table-pad-lg
            table.table-pad-lg
              thead
                tr
                  td.bg-info col1
                  td.bg-info col2
                  td.bg-info col3
              tbody
              tr
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0
                td.bg-info.pad-0 .pad-0

      h2(id="ack-color-boot") ack-color-boot
      .flex.flex-wrap
        .flex-1.margin-xs.pad.bg-info.border-info.border-3.border-solid
          |.bg-info.border-info
        .flex-1.margin-xs.pad.bg-danger.border-danger.border-3.border-solid
          |.bg-danger.border-danger
        .flex-1.margin-xs.pad.bg-success.border-success.border-3.border-solid
          |.bg-success.border-success
        .flex-1.margin-xs.pad.bg-primary.border-primary.border-3.border-solid
          |.bg-primary.border-primary
        .flex-1.margin-xs.pad.bg-warning.border-warning.border-3.border-solid
          |.bg-warning.border-warning
        .flex-1.margin-xs.pad.bg-grey.border-grey.border-3.border-solid
          |.bg-grey.border-grey
        .flex-1.margin-xs.pad.bg-grey-xs.border-grey-xs.border-3.border-solid
          |.bg-grey-xs.border-grey-xs
        .flex-1.margin-xs.pad.bg-grey-xxs.border-grey-xxs.border-3.border-solid
          |.bg-grey-xxs.border-grey-xxs
        .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
          |.bg-assertive.border-assertive
        .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
          |.bg-balanced.border-balanced
        .flex-1.margin-xs.pad.bg-royal.border-royal.border-3.border-solid
          |.bg-royal.border-royal
        .flex-1.margin-xs.pad.bg-stable.border-stable.border-3.border-solid
          |.bg-stable.border-stable
        .flex-1.margin-xs.pad.bg-positive.border-positive.border-3.border-solid
          |.bg-positive.border-positive
        .flex-1.margin-xs.pad.bg-calm.border-calm.border-3.border-solid
          |.bg-calm.border-calm
        .flex-1.margin-xs.pad.bg-balanced.border-balanced.border-3.border-solid
          |.bg-balanced.border-balanced
        .flex-1.margin-xs.pad.bg-energized.border-energized.border-3.border-solid
          |.bg-energized.border-energized
        .flex-1.margin-xs.pad.bg-assertive.border-assertive.border-3.border-solid
          |.bg-assertive.border-assertive
        .flex-1.margin-xs.pad.bg-dark.border-dark.border-3.border-solid
          |.bg-dark.border-dark


      .flex.flex-wrap
        .flex-1.margin-xs.pad.text-positive
          |.text-positive
        .flex-1.margin-xs.pad.text-calm
          |.text-calm
        .flex-1.margin-xs.pad.text-balanced
          |.text-balanced
        .flex-1.margin-xs.pad.text-energized
          |.text-energized
        .flex-1.margin-xs.pad.text-assertive
          |.text-assertive
        .flex-1.margin-xs.pad.text-royal
          |.text-royal
        .flex-1.margin-xs.pad.text-dark
          |.text-dark
        .flex-1.margin-xs.pad.text-primary
          |.text-primary
        .flex-1.margin-xs.pad.text-success
          |.text-success
        .flex-1.margin-xs.pad.text-info
          |.text-info
        .flex-1.margin-xs.pad.text-warning
          |.text-warning
        .flex-1.margin-xs.pad.text-danger
          |.text-danger
        .flex-1.margin-xs.pad.text-muted-lg
          |.text-muted-lg
        .flex-1.margin-xs.pad.text-muted-md
          |.text-muted-md
        .flex-1.margin-xs.pad.text-grey
          |.text-grey, .text-muted
        .flex-1.margin-xs.pad.text-muted-sm.text-muted-2x
          |.text-muted-sm, .text-muted-2x
        .flex-1.margin-xs.pad.text-muted-xs.text-muted-3x
          |.text-muted-xs, .text-muted-3x
        .flex-1.margin-xs.pad.text-green.font-green
          |.text-green,.font-green
        .flex-1.margin-xs.pad.text-orange.font-orange
          |.text-orange,.font-orange
        .flex-1.margin-xs.pad.text-red.font-red
          |.text-red,.font-red
        .flex-1.margin-xs.pad.text-blue.font-blue
          |.text-blue,.font-blue
        .flex-1.margin-xs.pad.text-purple.font-purple
          |.text-purple,.font-purple
        .flex-1.margin-xs.pad.text-black.font-black
          |.text-black,.font-black
        .flex-1.margin-xs.pad.text-white.font-white
          |.text-white,.font-white

        h4 border
        .flex.flex-wrap.align-top
          .margin.pad.border-1-info
            |.border-1-info
          .margin.pad.border-1.border-success
            |.border-1.border-success
          .margin.pad.border-1-warning.border-dashed
            |.border-1-warning.border-dashed
          .margin.pad.border-1.border-dotted.border-danger
            |.border-1.border-dotted.border-danger
          .margin.pad.border-1-info.border-top-0
            |.border-top-0
          .margin.pad.border-1.border-success.border-right-0
            |.border-right-0
          .margin.pad.border-1-warning.border-dashed.border-bottom-0
            |.border-bottom-0
          .margin.pad.border-1.border-dotted.border-danger.border-left-0
            |.border-left-0

  .text-left
    h2(id="ack-responsive-boot") ack-responsive-boot

    div(style="border-left:1px dotted black")
      h5 width guide
      .flex.align-center(style="max-width:438px;")
        div
          .pad-xs xxs &gt; 0 &amp;&amp; &lt;= 438
        .flex-1.border-1-success
      .flex.align-center(style="max-width:768px;")
        div
          .pad-xs xs &gt; 0 &amp;&amp; &lt;= 768
        .flex-1.border-1-success
      .flex.align-center(style="max-width:768px;")
        .flex-6.flex.align-center(style="max-width:575px;")
          .pad-xs smx &gt;= 576 &amp;&amp; &lt; 768
          .flex-1.border-1-warning
        .flex-1.border-1-success
      .flex.align-center(style="max-width:992px;")
        .flex-6.flex.align-center(style="max-width:768px;")
          .pad-xs sm &gt;= 768 &amp;&amp; &lt; 992
          .flex-1.border-1-warning
        .flex-1.border-1-success
      .flex.align-center(style="max-width:1200px;")
        .flex-6.flex.align-center(style="max-width:992px;")
          .pad-xs md &gt;= 992 &amp;&amp; &lt; 1200
          .flex-1.border-1-warning
        .flex-1.border-1-success
      .flex.align-center
        .flex.align-center(style="max-width:1200px;flex-grow:100;")
          .pad-xs lg &gt;= 1200
          .flex-1.border-1-warning
        .flex-1.border-1-success

    .flex.flex-wrap
      .flex-1.margin.pad.margin.flex.flex-valign
        .hide-xxs.pad.bg-success visible
        .margin.pad .hide-xxs
      .flex-1.pad.margin.flex.flex-valign
        .hide-xs.pad.bg-success visible
        .margin.pad .hide-xs
      .flex-1.pad.margin.flex.flex-valign
        .hide-smx.pad.bg-success visible
        .margin.pad .hide-smx
      .flex-1.pad.margin.flex.flex-valign
        .hide-sm.pad.bg-success visible
        .margin.pad .hide-sm
      .flex-1.pad.margin.flex.flex-valign
        .hide-md.pad.bg-success visible
        .margin.pad .hide-md
      .flex-1.pad.margin.flex.flex-valign
        .hide-lg.pad.bg-success visible
        .margin.pad .hide-lg
      .flex-1.pad.margin.flex.flex-valign
        .hide-print.pad.bg-success visible
        .margin.pad .hide-print
      .flex-1.pad.margin.flex.flex-valign
        .hide-gt-xxs.pad.bg-success visible
        .margin.pad .hide-gt-xxs
      .flex-1.pad.margin.flex.flex-valign
        .hide-gt-xs.pad.bg-success visible
        .margin.pad .hide-gt-xs
      .flex-1.pad.margin.flex.flex-valign
        .hide-gt-smx.pad.bg-success visible
        .margin.pad .hide-gt-smx
      .flex-1.pad.margin.flex.flex-valign
        .hide-gt-sm.pad.bg-success visible
        .margin.pad .hide-gt-sm
      .flex-1.pad.margin.flex.flex-valign
        .hide-gt-md.pad.bg-success visible
        .margin.pad .hide-gt-md
      .flex-1.pad.margin.flex.flex-valign
        .hide-lte-xxs.pad.bg-success visible
        .margin.pad .hide-lte-xxs
      .flex-1.pad.margin.flex.flex-valign
        .hide-lt-xxs.pad.bg-success visible
        .margin.pad .hide-lt-xxs
      .flex-1.pad.margin.flex.flex-valign
        .hide-lte-xs.pad.bg-success visible
        .margin.pad .hide-lte-xs
      .flex-1.pad.margin.flex.flex-valign
        .hide-lt-xs.pad.bg-success visible
        .margin.pad .hide-lt-xs
      .flex-1.pad.margin.flex.flex-valign
        .hide-lte-smx.pad.bg-success visible
        .margin.pad .hide-lte-smx
      .flex-1.pad.margin.flex.flex-valign
        .hide-lt-smx.pad.bg-success visible
        .margin.pad .hide-lt-smx
      .flex-1.pad.margin.flex.flex-valign
        .hide-lte-sm.pad.bg-success visible
        .margin.pad .hide-lte-sm
      .flex-1.pad.margin.flex.flex-valign
        .hide-lt-sm.pad.bg-success visible
        .margin.pad .hide-lt-sm
      .flex-1.pad.margin.flex.flex-valign
        .hide-lte-md.pad.bg-success visible
        .margin.pad .hide-lte-md
      .flex-1.pad.margin.flex.flex-valign
        .hide-lt-md.pad.bg-success visible
        .margin.pad .hide-lt-md
